* {
  padding: 0px;
  margin: 0px;
}

.header {
  height: 200px;
}

.logo {
  width: fit-content !important;
  text-decoration: none;
}

.header .logo {
  font-size: 5rem;
}

.btn {
  font-size: 1.2rem !important;
}

.blog-items-container {
  padding: 15px 0px;
}

.card {
  min-height: 600px;
  margin-bottom: 30px;
}

.postImage {
  max-height: 232px;
}

.blogItemTitle {
  font-size: 1.5rem !important;
  margin: 10px 0px !important;
}

.blogItemText {
  font-size: 1.3rem;
  margin: 10px 0px;
}

.postButton {
  margin-top: 20px !important;
}

.addItemButtonContainer {
  display: flex;
  margin-bottom: 30px;
}

.error {
  color: red;
}
