* {
  padding: 0px;
  margin: 0px;
}

.header {
  height: 150px;
  margin-bottom: 50px;
}

.logo {
  width: fit-content !important;
  text-decoration: none;
}

.header .logo {
  font-size: 4rem;
}

.btn {
  font-size: 1.2rem !important;
}

.blog-items-container {
  padding: 15px 0px;
}

.card {
  min-height: 600px;
  margin-bottom: 30px;
}

.blogItemTitle {
  font-size: 1.5rem !important;
}

.blogItemText {
  font-size: 1.3rem;
}

.addItemButtonContainer {
  display: flex;
  justify-content: center;
}

.error {
  color: red;
}
